.things-item {
  margin: 20px 0;
  border-bottom: 3px solid #000;
  input[type="text"],textarea {
    display: block;
    width: 100%;
  }
}
.things-item__head {
  h4 {
    margin: 0;
    span {
      font-size: 12px;
      font-weight: normal;
    }
  }
}
.things-item__body {
  margin: 10px 0 20px;
  white-space: pre-wrap;
}
.things-item__control {
  margin: 10px 0 20px;
  text-align: right;
  button {
    margin-left: 10px;
  }
}