<div class="wrap">
  <div class="profile">
    <h1>NG Idea</h1>
    <div class="profile-detail">
      <div *ngIf="currentUser.id === null">
        <app-user-login></app-user-login>
      </div>
      <div *ngIf="currentUser.id !== null">
        <app-user-profile></app-user-profile>
      </div>
    </div>
    <div class="profile-admin" *ngIf="currentUser.admin === true">
      <app-useradd></app-useradd>
      <app-user-list></app-user-list>
    </div>
  </div>

  <div class="content" *ngIf="currentUser.id !== null">
    <h2>Things</h2>
    <app-things-add></app-things-add>
    <app-things-list></app-things-list>
  </div>
</div>


